body {
  background-color: #c8bcdb;
}

h3 {
  font-weight: bolder;
  font-size: 30pt;
  height: 180px;
}

.container {
  text-align: center;
}

.green-background {
  background-color: green;
}

.blue-background {
  background-color: blue;
}

.orange-background {
  background-color: orange;
}

.tnr {
  font-family: times;
}

.cursive {
  font-family: cursive;
}

.monospace {
  font-family: monospace;
}

.purple-font {
  color: purple;
}

.pink-font {
  color: pink;
}

.red-font {
  color: red;
}

#purple {
  background-color: purple;
  color: white;
}

#pink {
  background-color: pink;
  color: black;
}

#red {
  background-color: red;
  color: white;
}
